.rdp-table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected):hover {
    @apply bg-neutral-300;
}

.rdp-caption_label {
    font-weight: 500;
    font-size: 14px;
    @apply text-gray-600;
}

.rdp-cell {
    width: 32px;
    height: 32px;
}

.rdp-head_cell {
    @apply text-gray-600;
    font-weight: 400;
    font-size: 12px;
}

.rdp-nav_button svg {
    width: 12px;
    height: 10px;
}

.rdp-weeknumber,
.rdp-day {
    font-size: 14px;
    font-weight: 400;
    @apply text-gray-700;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
    @apply bg-neutral-300 text-white;
}

.rdp-day_range_start,
.rdp-day_range_end {
    position: relative;
    z-index: 2;
}

.rdp-day_range_start::after,
.rdp-day_range_end::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    @apply bg-primary text-white;
    border-radius: 50%;
    z-index: -1;
}

.rdp-day_range_middle {
    @apply bg-neutral-300 text-gray-700;
}
